.DS_Store

# npm
./node_modules
apps/*/node_modules
apps/*/*/node_modules
courses/*/node_modules
courses/*/*/node_modules
templates/*/node_modules
templates/*/*/node_modules


./package-lock.json
apps/*/package-lock.json
apps/*/*/package-lock.json
courses/*/package-lock.json
courses/*/*/package-lock.json
templates/*/package-lock.json
templates/*/*/package-lock.json

./yarn.lock
apps/*/yarn.lock
apps/*/*/yarn.lock
courses/*/yarn.lock
courses/*/*/yarn.lock
templates/*/yarn.lock
templates/*/*/yarn.lock
